
@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<p>@ViewBag.Message World !!!</p>

<p>We are going to have an exciting party.</p>

<p>Are you coming to the party?</p>

<a asp-action="Rsvp" class="btn btn-primary">Submit answer</a>
<a asp-action="GuestList" class="btn btn-info">See who is coming to the party</a>


