<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:darkblue;color:white;">NOVO LAYOUT</div>

    <div style="background-color:antiquewhite">
        @RenderBody()
    </div>
</body>
</html>
